.App {
  min-height: 100vh;
  position: relative;
}

.glow-effect {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.2;
  pointer-events: none;
}

.link-text a {
  color: #7c3aed;
  text-decoration: underline;
}